body {
	background-color:blue;
	color:white;
	font-family:calibri;
	font-size:12pt;
	line-height:1.75em;
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}

dialog[open] {
    position: fixed;
    top: 10px;
}
div#Usuario{
	float: right;
	margin-top:0px;
	margin-bottom: 0px;
}

div#Usuario > h1{
	color: yellow;
	margin-top:0px;
	margin-bottom: 0px;
}

nav{
	width:100%;
	display:flex
}

div#Definicion{
	/* flex-flow: row; */
	flex-shrink:50% ;
}

div#Localidad{
	/* flex-flow: row; */
	flex-shrink:50% ;

}




fieldset{
	width: fit-content;
}

.par {
	position:absolute;
	left:150px;
}

